body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.contact-section {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-container {
  text-align: center;
  margin-bottom: 30px;
}

.contact-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-description {
  font-size: 16px;
}

.contact-form {
  display: grid;
  gap: 15px;
}

.form-group {
  display: grid;
}

.form-label {
  font-weight: bold;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-submit {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #555;
}
