<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue sur Yveslines-Auto</title>
    <link rel="stylesheet" href="Apropos.css"> <!-- Lien vers votre feuille de style CSS -->
</head>
<body>
    <div class="App">
        <div class="logo-container">
            <img src="logo.jpg" alt="Logo">
        </div>
        <div class="text-container">
            <h1>Bienvenue sur Yveslines-Auto</h1>
            <p>Une entreprise où vous pouvez acheter / vendre vos voitures.</p>
            <p>Trouvez-nous sur : <a href="https://www.pagesjaunes.fr/carte/53158326?code_localite=L07835400&code_rubrique=061240">8 av de l'europe 78200 Magnaville</a></p>
            <p>Contactez-nous : Yveslines.auto@outlook.com</p>
            <p>Appelez-nous sur : 06 44 87 94 92</p>
        </div>
    </div>
</body>
</html>
